<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	수정일                 수정자                          수정내용
  =========     =======    =================================================
  2022.10.18   	obkwon      최초 생성
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="admin">
	<!-- admin 카운트 -->
	<select id="selectAdminListCnt" parameterType="admin" resultType="admin">
		SELECT 
			COUNT(ANUM)
		FROM 
			ADMINS 
		WHERE 1=1 
		<if test='atype != null and atype != ""'>AND ATYPE = #{atype}</if>
		<if test='anum != null and anum != ""'>AND ANUM = #{anum}</if>
	</select>
	
	<!-- admin 하나만 검색 -->
	<select id="selectAdminOne" parameterType="admin" resultType="admin">
		SELECT 
			  ANUM
			, ATYPE
			, AVALUE
			, AIMAGE
			, REGIST_DT
			, MODIFY_DT
			, REGIST_ID
			, MODIFY_ID
		FROM
			ADMINS
		WHERE 
			ANUM = #{anum}
	</select>
	
	<!-- admin 여러개 검색 -->
	<select id="selectAdminList" parameterType="admin" resultType="admin">
		SELECT 
			  A.ANUM
			, A.ATYPE
			, A.AVALUE
			, A.AIMAGE
			, A.REGIST_DT
			, A.MODIFY_DT
			, A.REGIST_ID
			, A.MODIFY_ID
		FROM 
			ADMINS A
			<if test='mid != null and mid != ""'>INNER JOIN MTAG MT ON A.ANUM = MT.ANUM</if>
		WHERE 1=1
		<if test='atype != null and atype != ""'>AND A.ATYPE = #{atype}</if>
		<if test='anum != null and anum != ""'>AND A.ANUM = #{anum}</if>
		<if test='mid != null and mid != ""'>AND MT.MID = #{mid}</if>
		ORDER BY A.ANUM
	</select>
	
	<!-- 태그 추가 -->
	<insert id="insertTag" parameterType="admin">
		INSERT INTO ADMINS(
			  ATYPE
			, AVALUE
			, AIMAGE
			, REGIST_DT
			, MODIFY_DT
			, REGIST_ID
			, MODIFY_ID
		)VALUES(
			  #{atype}
			, #{avalue}
			, #{aimage}
			, CURRENT_TIMESTAMP
			, CURRENT_TIMESTAMP
			, 'ADMIN'
			, 'ADMIN'
		)
	</insert>
	
	<!-- 태그 수정 -->
	<update id="updateTag" parameterType="admin">
		UPDATE ADMINS SET
			  MODIFY_DT = CURRENT_TIMESTAMP
			, MODIFY_ID = 'ADMIN'
			<if test='avalue != null and avalue != ""'>, AVALUE = #{avalue}</if>
			<if test='aimage != null and aimage != ""'>, AIMAGE = #{aimage}</if>
		WHERE
			ANUM = #{anum}
	</update>
	
	<!-- 태그 삭제 -->
	<delete id="deleteTag" parameterType="admin">
		DELETE FROM ADMINS 
		WHERE ANUM = #{anum}
	</delete>
	
	<!-- 1:1문의 리스트 조회-->
	<select id="selectInquiryList" parameterType="inquiry" resultType="inquiry">
		SELECT 
			ROWNUM
			,INUM AS inum
			,ITYPE AS itype
			,ITITLE AS ititle
			,ICONTENT AS icontent
			,IDATE AS idate
			,ISTATE AS istate
			,IANSWER AS ianswer
		FROM 
			INQUIRYS
		WHERE 1=1
		<if test="istate != null and istate != ''">
			AND ISTATE = #{istate}
		</if>
		<if test="keyword != null and keyword != ''" >
			<if test="type == 'title'">
				AND ITITLE LIKE '%'||#{keyword}||'%'
			</if>
			<if test="type == 'content'">
				AND ICONTENT LIKE '%'||#{keyword}||'%'
			</if>
			<if test="type == 'mid'">
				AND mid LIKE '%'||#{keyword}||'%'
				OR bid LIKE '%'||#{keyword}||'%'
			</if>
		</if>
		ORDER BY IDATE DESC
	</select>
	
	<!-- 1:1문의 전체 / 답변 / 미답변 수-->
	<select id="inquiryListCount" resultType="inquiry">
		SELECT 
			'전체' AS ititle 
			,'all' AS itype
			,count(*) AS cnt
		FROM 
			INQUIRYS
		UNION ALL 
		SELECT 
			'답변완료' AS ititle
			,'yes' AS itype
			, count(*) AS cnt
		FROM 
			INQUIRYS 
		WHERE ISTATE = 'yes'
		UNION ALL 
		SELECT 
			'미답변' AS ititle
			,'no' AS itype
			, count(*) AS cnt
		FROM 
			INQUIRYS 
		WHERE 
			ISTATE = 'no'
	</select>
	
	<!-- 문의 상세보기 -->
	<select id="selectInquiry" parameterType="inquiry" resultType="inquiry">
		SELECT
			INUM AS inum
			,MID AS mid
			,BID AS bid
			,ITYPE AS itype
			,ITITLE AS ititle
			,ICONTENT AS icontent
			,IDATE AS idate
			,ISTATE AS istate
			,IANSWER AS ianswer
			,(SELECT MPHONE FROM MEMBERS WHERE MID = A.MID) AS MPHONE
			,(SELECT BPHONE FROM BOSS WHERE BID = A.BID) AS BPHONE
		FROM 
			INQUIRYS A 
		WHERE 
			INUM = #{inum}
	</select>
	
	<!-- 답변 등록하기 -->	
	<update id="insertInquiryAnswer" parameterType="Inquiry">
		UPDATE 
			INQUIRYS 
		SET 
			IANSWER = #{ianswer}
			, ISTATE = 'yes' 
		WHERE 
			INUM = #{inum}
	</update>
</mapper>
    