<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inquiry">
<sql id="mid">
		<choose>
			<when test="mid!=null">
				#{mid}
			</when>
			<otherwise>
				null
			</otherwise>
		</choose>
	</sql>
	<sql id="bid">
		<choose>
			<when test="bid!=null">
				#{bid}
			</when>
			<otherwise>
				null
			</otherwise>
		</choose>
	</sql>
	<sql id="ianswer">
		<choose>
			<when test="ianswer!=null">
				#{ianswer}
			</when>
			<otherwise>
				null
			</otherwise>
		</choose>
	</sql>
	
	<!-- 1:1문의 리스트 조회-->
	<select id="selectInquiryList" parameterType="inquiry" resultType="inquiry">
		SELECT 
			  INUM
			, MID
			, BID
			, ITYPE
			, ITITLE
			, ICONTENT
			, IDATE
			, ISTATE
			, IANSWER
			, REGIST_DT
			, MODIFY_DT
			, REGIST_ID
			, MODIFY_ID
		FROM 
			INQUIRYS
		WHERE 1=1
		<if test="istate != null and istate != ''">
			AND ISTATE = #{istate}
		</if>
		<if test="keyword != null and keyword != ''" >
			<if test="type == 'title'">
				AND ITITLE LIKE '%'||#{keyword}||'%'
			</if>
			<if test="type == 'content'">
				AND ICONTENT LIKE '%'||#{keyword}||'%'
			</if>
			<if test="type == 'mid'">
				AND mid LIKE '%'||#{keyword}||'%'
				OR bid LIKE '%'||#{keyword}||'%'
			</if>
		</if>
		ORDER BY IDATE DESC
	</select>
	

<select id="selectInquiryByMid" parameterType="String" resultType="inquiry">
select * from inquirys where mid = #{mid} order by inum
</select>
<select id="selectInquiryByBid" parameterType="String" resultType="inquiry">
select *from inquirys where bid=#{bid} order by inum
</select>
<delete id="deleteInquiryOne" parameterType="int">
delete from inquirys where inum=#{inum}
</delete>
<insert id="insertInquiry" parameterType="inquiry">
insert into inquirys values(inquirys_seq.nextval,<include refid="mid"/>,<include refid="bid"/>,#{itype},#{ititle},#{icontent},sysdate,'no',<include refid="ianswer"/>)
</insert>
<select id="selectInquiryOne" parameterType="int" resultType="inquiry">
select * from inquirys where inum = #{inum}
</select>
<select id="searchInquiryListByMid" parameterType="java.util.HashMap" resultType="inquiry">
select * from inquirys where mid = #{mid} and ititle like '%${keyword}%'
</select>
<select id="searchInquiryListByBid" parameterType="java.util.HashMap" resultType="inquiry">
select * from inquirys where bid = #{bid} and ititle like '%${keyword}%'
</select>
</mapper>