<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	수정일                 수정자                          수정내용
  =========     =======    =================================================
  2022.10.18   	obkwon      최초 생성
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="inquiry">
	<sql id="userId">
		<choose>
			<when test="mid != null">
				#{mid}
			</when>
			<when test="bid != null">
				#{bid}
			</when>
			<otherwise>
				null
			</otherwise>
		</choose>
	</sql>
	<sql id="ianswer">
		<choose>
			<when test="ianswer!=null">
				#{ianswer}
			</when>
			<otherwise>
				null
			</otherwise>
		</choose>
	</sql>
	
	<!-- 1:1문의 리스트 조회-->
	<select id="selectInquiryList" parameterType="inquiry" resultType="inquiry">
		SELECT 
			  INUM
			, MID
			, BID
			, ITYPE
			, ITITLE
			, ICONTENT
			, IDATE
			, ISTATE
			, IANSWER
			, REGIST_DT
			, MODIFY_DT
			, REGIST_ID
			, MODIFY_ID
		FROM 
			INQUIRYS
		WHERE 1=1
		<if test="istate != null and istate != ''">AND ISTATE = #{istate}</if>
		<if test="mid != null and mid != ''">AND MID = #{mid}</if>
		<if test="bid != null and bid != ''">AND BID = #{bid}</if>
		<if test="keyword != null and keyword != ''" >
			<if test="type == 'title'">
				AND ITITLE LIKE '%'||#{keyword}||'%'
			</if>
			<if test="type == 'content'">
				AND ICONTENT LIKE '%'||#{keyword}||'%'
			</if>
			<if test="type == 'mid'">
				AND mid LIKE '%'||#{keyword}||'%'
				OR bid LIKE '%'||#{keyword}||'%'
			</if>
		</if>
		ORDER BY IDATE DESC
	</select>
	
	<insert id="insertInquiry" parameterType="inquiry">
		INSERT INTO INQUIRYS (
			  MID
			, BID
			, ITYPE
			, ITITLE
			, ICONTENT
			, IDATE
			, ISTATE
			, IANSWER
			, REGIST_DT
			, MODIFY_DT
			, REGIST_ID
			, MODIFY_ID
		) VALUES (
			  #{mid}
			, #{bid}
			, #{itype}
			, #{ititle}
			, #{icontent}
			, CURRENT_TIMESTAMP
			, 'N'
			, #{ianswer}
			, CURRENT_TIMESTAMP
			, CURRENT_TIMESTAMP
			, <include refid="userId" />
			, <include refid="userId" />
		)
	</insert>

<delete id="deleteInquiryOne" parameterType="int">
delete from inquirys where inum=#{inum}
</delete>
<select id="selectInquiryOne" parameterType="int" resultType="inquiry">
select * from inquirys where inum = #{inum}
</select>
<select id="searchInquiryListByMid" parameterType="java.util.HashMap" resultType="inquiry">
select * from inquirys where mid = #{mid} and ititle like '%${keyword}%'
</select>
<select id="searchInquiryListByBid" parameterType="java.util.HashMap" resultType="inquiry">
select * from inquirys where bid = #{bid} and ititle like '%${keyword}%'
</select>
</mapper>