<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="egovframework.dangol.dao.IAdminDao">
	<!-- admin 하나만 검색 -->
	<select id="selectAdminTypeOne" parameterType="admin" resultType="admin">
		SELECT 
			ANUM AS anum
			,ATYPE AS atype
			,AVALUE AS avalue
			,AIMAGE AS aimage
		FROM 
			ADMINS 
		WHERE 
			ATYPE = #{atype} 
	</select>
	
	<!-- admin 하나만 검색 (타입) -->
	<select id="selectAdminOne" parameterType="admin" resultType="admin">
		SELECT 
			ANUM AS anum
			,ATYPE AS atype
			,AVALUE AS avalue
			,AIMAGE AS aimage
		FROM 
			ADMINS 
		WHERE 
			ANUM = #{anum} 
	</select>
	
	<!-- admin 여러개 검색 (타입) -->
	<select id="selectAdminTypeList" parameterType="admin" resultType="admin">
		SELECT 
			ANUM AS anum
			,ATYPE AS atype
			,AVALUE AS avalue
			,AIMAGE AS aimage
		FROM 
			ADMINS 
		WHERE 
			ATYPE = #{atype} 
		ORDER BY ANUM
	</select>
	
	<!-- admin 여러개 검색 (anum) -->
	<select id="selectAdminMtagList" parameterType="admin" resultType="admin">
		SELECT 
			A.ANUM AS anum
			,A.ATYPE AS atype
			,A.AVALUE AS avalue
			,A.AIMAGE AS aimage
		FROM 
			ADMINS A
			INNER JOIN MTAG MT ON A.ANUM = MT.ANUM
		WHERE 
			MT.MID = #{mid}
		ORDER BY A.ANUM
	</select>
	
	<!-- 태그 추가 -->
	<insert id="insertTag" parameterType="admin">
		INSERT INTO ADMINS(
			ANUM
			,ATYPE
			,AVALUE
			,AIMAGE
		)VALUES(
			ADMINS_SEQ.NEXTVAL
			,#{atype}
			,#{avalue}
			,#{aimage,jdbcType=VARCHAR}
		)
	</insert>
	
	<!-- 태그 삭제 -->
	<delete id="deleteTag" parameterType="admin">
		DELETE FROM 
			ADMINS 
		WHERE 
			ANUM = #{anum}
	</delete>
	
	<!-- 메인 태그 수정 -->
	<update id="updateAdmin" parameterType="admin">
		UPDATE 
			ADMINS 
		SET 
			AVALUE=#{avalue} 
		WHERE 
			ATYPE = #{atype}
	</update>
	
	<!-- 1:1문의 리스트 조회-->
	<select id="selectInquiryList" parameterType="inquiry" resultType="inquiry">
		SELECT 
			ROWNUM
			,INUM AS inum
			,ITYPE AS itype
			,ITITLE AS ititle
			,ICONTENT AS icontent
			,IDATE AS idate
			,ISTATE AS istate
			,IANSWER AS ianswer
		FROM 
			INQUIRYS
		WHERE 1=1
		<if test="istate != null and istate != ''">
			AND ISTATE = #{istate}
		</if>
		<if test="keyword != null and keyword != ''" >
			<if test="type == 'title'">
				AND ITITLE LIKE '%'||#{keyword}||'%'
			</if>
			<if test="type == 'content'">
				AND ICONTENT LIKE '%'||#{keyword}||'%'
			</if>
			<if test="type == 'mid'">
				AND mid LIKE '%'||#{keyword}||'%'
				OR bid LIKE '%'||#{keyword}||'%'
			</if>
		</if>
		ORDER BY IDATE DESC
	</select>
	
	<!-- 1:1문의 전체 / 답변 / 미답변 수-->
	<select id="inquiryListCount" resultType="inquiry">
		SELECT 
			'전체' AS ititle 
			,'all' AS itype
			,count(*) AS cnt
		FROM 
			INQUIRYS
		UNION ALL 
		SELECT 
			'답변완료' AS ititle
			,'yes' AS itype
			, count(*) AS cnt
		FROM 
			INQUIRYS 
		WHERE ISTATE = 'yes'
		UNION ALL 
		SELECT 
			'미답변' AS ititle
			,'no' AS itype
			, count(*) AS cnt
		FROM 
			INQUIRYS 
		WHERE 
			ISTATE = 'no'
	</select>
	
	<!-- 문의 상세보기 -->
	<select id="selectInquiry" parameterType="inquiry" resultType="inquiry">
		SELECT
			INUM AS inum
			,MID AS mid
			,BID AS bid
			,ITYPE AS itype
			,ITITLE AS ititle
			,ICONTENT AS icontent
			,IDATE AS idate
			,ISTATE AS istate
			,IANSWER AS ianswer
			,(SELECT MPHONE FROM MEMBERS WHERE MID = A.MID) AS MPHONE
			,(SELECT BPHONE FROM BOSS WHERE BID = A.BID) AS BPHONE
		FROM 
			INQUIRYS A 
		WHERE 
			INUM = #{inum}
	</select>
	
	<!-- 답변 등록하기 -->	
	<update id="insertInquiryAnswer" parameterType="Inquiry">
		UPDATE 
			INQUIRYS 
		SET 
			IANSWER = #{ianswer}
			, ISTATE = 'yes' 
		WHERE 
			INUM = #{inum}
	</update>
</mapper>
    